.game-wrapper {
  width: var(100% - 4rem);
  height: 500px;
  padding: 1rem;
  padding-top: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board {
  aspect-ratio: 1/1;

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.7rem;

  padding: 1rem;

  z-index: 1;
}

.square {
  height: 100px;
  aspect-ratio: 1/1;

  border-radius: var(--BR);
  background-color: var(--clr2);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  animation: down-up 0.8s;

  transition: 0.2s;

  font-size: 70px;
}

.square:hover {
  transform: scale(1.05);
}
.square:active {
  background-color: none;
  transform: scale(0.95);
}

.players {
  --padding: 10%;
  position: absolute;
  width: calc(80% - var(--padding));

  display: flex;
  justify-content: space-between;
  padding: var(--padding);

  z-index: 0;

  animation: down-up 0.3s;
}
.players div {
  background-color: var(--clr2);
  padding: 1rem;
  border-radius: var(--BR);
  width: 5rem;
  text-align: center;
  overflow: hidden;
  height: fit-content;
}
@media (max-width: 800px) {
  .players {
    position: inherit;
    padding: 2rem;
  }
}

.not-allowed {
  cursor: not-allowed !important;
}

.finishstate {
  padding: 1rem;
  text-align: center;
}

.highlight {
  background-color: var(--clr3) !important;
}


.waiting {
  position: absolute;
  display: flex;
  padding-right: 10px;
  font-size: 30px;
}
.waiting::after {
  position: absolute;
  right: -5px;
  content: ".";
  animation: blink .9s infinite ease-in-out 1s;
  /* animation-delay: 1s; */
  /* padding: 0 1rem; */
}
.waiting::before {
  position: absolute;
  right: 3px;
  content: ".";
  animation: blink 1s infinite ease-in-out;
}

.not-allowed {
  pointer-events: none;
}
.not-visible {
  display: none;
}

.finish-btn {
  display: flex;
  gap: 1rem;
}